<section id="Footer">
	<div id="footer" class="bottom-menu bottom-menu-inverse section">
		<div class="container">
			<h3>Follow me</h3>
			<br><br><br>
			<div class="row">
				<div class="span4">
					<a href="http://www.twitter.com/couponing_stacy">
						<i class="ss-twitter"></i> 
						<h6>@couponing_stacy</h6>
					</a>
				</div>

				<div class="span4">
		              <a href="https://instagram.com/couponingstacy/">
						<i class="ss-instagram"></i> 
						<h6>instagram</h6>
					</a>
				</div>
				<div class="span4">
		              <a href="https://www.youtube.com/channel/UCK2_1hVLXx9TstSsVhsFGug">
						<i class="ss-youtube"></i> 
						<h6>youtube</h6>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
